@charset "UTF-8";
@media screen and (max-width: 1450px) {
  .main {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/fondo-vertical.png);
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media screen and (max-width: 1250px) {
  .fondo .descuento-texto {
    font-size: 6rem;
    text-shadow: 10px 5px 10px #272727;
    text-align: center;
  }
  .fondo .descuento-texto span {
    font-size: 6rem;
  }
  .fondo .fondo-container .titulo-fondo {
    font-size: 1.5rem;
  }
  .fondo .fondo-container .texto-fondo {
    font-size: 1rem;
  }
  .fondo .fondo-container .boton-fondo {
    font-size: 1rem;
  }
  .footer {
    padding: 2rem;
    grid-gap: 2rem;
    grid-template-columns: 0.5fr 1fr 3fr;
  }
  .footer .menu-1 {
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  .footer .menu-1 .logo-footer-img {
    width: 50%;
  }
  .footer .menu-1 .logo-footer-texto {
    font-size: var(--Tamaño-header-texto);
  }
  .footer .menu-2 .sub-paginas .sub-links {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 950px) {
  .header {
    width: 100%;
    height: 8rem;
  }
  .fondo {
    width: 80%;
    height: 8rem;
  }
  .fondo .descuento-texto {
    font-size: 4rem;
  }
  .fondo .descuento-texto span {
    font-size: 4rem;
  }
  .fondo .fondo-container .titulo-fondo {
    font-size: 1rem;
  }
  .fondo .fondo-container .texto-fondo {
    font-size: 0.9rem;
  }
  .fondo .fondo-container .boton-fondo {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 850px) {
  .header .menu-2 .lista-menu .busqueda {
    width: 10rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .header .menu-2 .lista-menu .busqueda .entrada-busqueda {
    width: 100%;
    font-size: 0.8rem;
  }
  .header .menu-2 .lista-menu .busqueda .boton-busqueda {
    width: 100%;
  }
  .header .menu-2 .lista-menu .busqueda .boton-busqueda .bi-search {
    padding: 0;
    font-size: 0.8rem;
  }
  .header .menu-2 .lista-menu .redes-sociales {
    display: none;
  }
  .footer .menu-2 .sub-paginas .sub-links {
    font-size: 0.65rem;
  }
  .footer .menu-3 form .titulo-form {
    font-size: 1rem;
  }
  .footer .menu-3 form .nombre, .footer .menu-3 form .mensaje {
    font-size: 0.8rem;
  }
  .footer .menu-3 form .nombre input, .footer .menu-3 form .mensaje input {
    padding: 0.8rem;
  }
  .footer .menu-3 form .boton-mensaje {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .header {
    width: 100%;
    justify-content: space-around;
  }
  .fondo {
    width: 80%;
    padding: 0.8rem;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .fondo .fondo-descuentos {
    height: 100%;
  }
  .fondo .fondo-descuentos .descuento-texto {
    font-size: 2rem;
  }
  .fondo .fondo-descuentos .descuento-texto span {
    font-size: 2rem;
  }
  .fondo .fondo-container .titulo-fondo {
    font-size: 1.15rem;
  }
  .fondo .fondo-container .texto-fondo {
    font-size: 0.75rem;
  }
  .fondo .fondo-container .boton-fondo {
    font-size: 0.55rem;
  }
  .productos {
    padding: 2rem;
  }
  .productos .card-1, .productos .card-2, .productos .card-3 {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1.5fr));
  }
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 3fr;
    gap: 1rem;
  }
  .footer .menu-1 {
    flex-direction: row;
  }
  .footer .menu-1 .logo-footer-img {
    width: 10%;
  }
  .footer .menu-1 .logo-footer-texto {
    font-size: var(--Tamaño-header-titulo);
  }
  .footer .menu-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .menu-2 .sub-paginas {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    height: initial;
  }
  .footer .menu-2 .sub-paginas .sub-links {
    font-size: 1rem;
  }
  .footer .menu-3 form {
    padding: 2rem;
  }
  .footer .menu-3 form .titulo-form {
    font-size: 1rem;
  }
  .footer .menu-3 form .nombre, .footer .menu-3 form .mensaje {
    font-size: 0.8rem;
  }
  .footer .menu-3 form .nombre input, .footer .menu-3 form .mensaje input {
    padding: 0.8rem;
  }
  .footer .menu-3 form .boton-mensaje {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .header {
    height: 6rem;
  }
  .header .menu-1 {
    justify-content: center;
    gap: 0.5rem;
  }
  .header .menu-1 .logo-nav-img {
    width: 30%;
  }
  .header .menu-1 .logo-nav-titulo {
    font-size: 1.2rem;
  }
  .header .menu-2 .lista-menu .busqueda {
    width: 6rem;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .header .menu-2 .lista-menu .busqueda .entrada-busqueda {
    padding: 0;
  }
  .header .menu-2 .lista-menu .busqueda .boton-busqueda {
    padding: 0;
    width: 10%;
  }
  .header .menu-2 .lista-menu .boton-nav {
    padding: 0;
  }
  .header .menu-2 .lista-menu .boton-nav .bi-person {
    font-size: 1.2rem;
  }
  .main .fondo {
    width: 88%;
    top: 7rem;
  }
  .main .fondo .descuento-texto {
    font-size: 1.6rem;
  }
  .main .fondo .descuento-texto span {
    font-size: 1.6rem;
  }
  .main .fondo .titulo-fondo {
    font-size: 1rem;
  }
  .main .fondo .texto-fondo {
    font-size: 0.6rem;
  }
  .main .fondo .boton-fondo {
    width: 80%;
  }
  .main .productos {
    padding: 1rem;
  }
  .main .productos .titulo-prod .titulo-card {
    font-size: 1.5rem;
  }
  .main .productos .titulo-prod .link-card {
    font-size: 0.85rem;
  }
  .main .productos .card-1, .main .productos .card-2, .main .productos .card-3 {
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1.5fr));
  }
  .main .productos .card-1 .tarjeta:hover, .main .productos .card-2 .tarjeta:hover, .main .productos .card-3 .tarjeta:hover {
    transform: scale(0.9);
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }
  .main .footer {
    gap: 0;
    padding: 1rem;
  }
  .main .footer .menu-1 .logo-footer-texto {
    font-size: 1rem;
  }
  .main .footer .menu-2 .sub-paginas .sub-links {
    font-size: 0.8rem;
  }
  .main .footer .menu-3 form {
    padding: 1rem;
  }
  .main .footer .menu-3 form .titulo-form {
    font-size: 1rem;
  }
  .main .footer .menu-3 form .nombre, .main .footer .menu-3 form .mensaje {
    font-size: 0.8rem;
  }
  .main .footer .menu-3 form .nombre input, .main .footer .menu-3 form .mensaje input {
    padding: 0.8rem;
  }
  .main .footer .menu-3 form .boton-mensaje {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .main .fondo {
    margin: 0 auto;
    width: 92%;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1.5fr;
    border-radius: 0;
  }
  .main .fondo .fondo-descuentos {
    width: 100%;
  }
  .main .fondo .fondo-descuentos .descuento-texto {
    font-size: 1.5rem;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }
  .main .fondo .fondo-descuentos .descuento-texto span {
    font-size: 1.5rem;
  }
  .main .fondo .fondo-container {
    width: 100%;
  }
  .main .fondo .fondo-container .titulo-fondo {
    font-size: 0.95rem;
  }
  .main .fondo .fondo-container .texto-fondo {
    font-size: 0.7rem;
  }
  .main .fondo .fondo-container .boton-fondo {
    width: 100%;
  }
}/*# sourceMappingURL=responsive.css.map */